/frontend/node_modules
/frontend/dist
/frontend/*-error.log

.DS_Store
/vendor
*.db
*.db-shm
*.db-wal
__debug_*
/logs
/tmp
*.exe
!*/.exe
/bin

sysManager/macFixtures/
statikFs/temp/
statikFs/statik/
statikFs/.static/