@import "./style/monokai-sublime.css";
@import "./style/markdown/index.css";
@import "./style/tomorrow-theme.css";

.article-container.is-markdown {
  code[class*="language-"],
  pre[class*="language-"]  {
    font-size: 14px;
    line-height: 1.6;
  }
  // code {
  //   // color: #ccc;
  //   margin: 0;
  //   font-size: 0.85em;
  // }
  // pre, pre[class*=language]{
  //   padding: 0;
  //   line-height:1.4;
  //   padding: 16px;
  //   margin:.85rem 0;
  //   background-color:#282c34;
  //   border-radius:6px;
  //   overflow:auto;
  // }
    
  .hljs {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  } 
}


body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: transform .2s, opacity .2s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.x-message-box {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9998;
  // transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) translateZ(0);
  
  .x-message {
    border-radius: 50px;
    overflow: hidden;
  }

  p {
    box-sizing: border-box;
    min-width: 100px;
    max-width: 360px;
    padding: 12px 26px;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    word-break: break-all;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

#app {
 
}
